<header>
  <div class="hero-text-box">
    <h1>Goodbye junk food.<br> Hello super healthy meals.</h1>
    <%= link_to 'I’m hungry', '#', class: "btn btn-hungry" %>
    <%= link_to 'Show me more', '#', class: "btn btn-more" %>
  </div>
</header>