// ===========COLORS================
$main-color:  #cf6d17;
$text-color: #555;
$white-color: #fff;

// ===========SIZES================
$max-width: 1140px;
$text-size: 20px;
$text-weight: 300;

// ===========FONTS================
$text-font: 'Lato', 'Arial', sans-serif;