/* Big tablets to 1200px (widths smaller than the 1140px row) */

@media only screen and (max-width: 1200px) {
  .hero-text-box {
    width: 100%;
    transform: none;
    position: static;
  }
  .row {
    padding: 0 2%;
  }
}


/* Small tablets to big tablets: 768px to 1023px */

@media only screen and (max-width: 1023px) {
  body {
    font-size: 18px;
  }
  section {
    padding: 60px 0;
  }
  /* SECTION-HEADER */
  /* SECTION-HOW-IT-WORKS */
  .step {
    margin-bottom: 10%;
  }
  .works-steps {
    margin-top: 50px;
  }
  .app-iphone {
    width: 190px;
  }
  .app-images > a img {
    height: 45px;
  }
  .app-images {
    margin-top: 64px;
  }
  /* SECTION-CITIES */
  .city-features i {
    margin: 4%;
  }
  .city-features {
    font-size: 92%;
  }
  .city-features a:hover,
  .city-features a:active {
    font-size: 104%;
  }
  /* SECTION-TESTIMONIALS */
  .customer-detail {
    font-size: 90%;
  }
  .customer-detail img {
    width: 25%;
    height: auto;
  }
  /* SECTION-PLANS */
  .plan-details > ul > li {
    font-size: 93%;
  }
  #contact-form {
    width: 90%;
  }
  /* SECTION-FOOTER */
  .footer-nav > ul li {
    margin: 0 4px;
  }
}


/* Small phones to small tablets: 481px to 767px */

@media only screen and (max-width: 767px) {
  body {
    font-size: 16px;
  }
  section {
    padding: 30px 0;
  }
  .row {
    padding: 0 4%;
  }
  .col {
    width: 100%;
    margin: 0 0 4% 0;
  }
  h1 {
    font-size: 220%;
  }
  h2 {
    font-size: 160%;
  }
  /* SECTION-HEADER */
  .ul-nav {
    float: left;
    margin: 28px 15px;
    display: none;
  }
  .ul-nav li {
    display: block;
    margin-bottom: 3px;
  }
  .ul-nav li a:link, .ul-nav li a:visited {
    padding: 0 5px;
  }
  .ul-nav li a:hover, .ul-nav li a:active {
    padding-bottom: 1px;
  }
  .sticky .ul-nav {
    float: left;
  }
  .sticky .ul-nav li a:link, .sticky .ul-nav li a:visited {
    padding: 1px 5px;
    margin-left: 10px;
  }
  .mobile-nav {
    display: block;
  }
  .sticky .mobile-nav {
    margin-top: 13px;
  }
  h1 {
    font-size: 235%;
  }
  .hero-text-box {
    margin-top: 30px;
  }
  /* SECTION-FEATURES */
  .col-box p {
    font-size: 100%;
  }
  /* SECTION-HOW-IT-WORKS */
  .app-iphone {
    padding-right: 0;
  }
  .col-steps-box {
    text-align: center;
  }
  .works-steps {
    margin-top: 30px;
  }
  .step {
    margin-bottom: 7%;
  }
  .step h4 {
    width: 30px;
    height: 30px;
  }
  /* SECTION-CITIES */
  .city-features i {
    margin: 2%;
  }
  .city-features {
    font-size: 100%;
  }
  /* SECTION-CONTACT */
  .customer-detail img {
    width: 70px;
  }
  /* SECTION-PLANS */
  .plan-details > ul > li {
    font-size: 100%;
  }
  /* SECTION-FOOTER */
  .footer-nav ul {
    width: 100%;
    margin: 25px auto;
    text-align: center;
  }
  .footer-socials ul {
    list-style: none;
    margin: 0;
    width: 100%;
    text-align: center;
  }
}


/* Small phones: from 0 to 480px */

@media only screen and (max-width: 480px) {
  section {
    padding: 25px 0;
  }
  /* SECTION-HEADER */
  .logo {
    height: 70px;
  }
  h1 {
    font-size: 120%;
    margin-bottom: 20px;
  }
  .btn:link,
  .btn:visited {
    font-size: 80%;
  }
  /* SECTION-HOW-IT-WORKS */
  .step {
    margin-bottom: 15%;
  }
}